In [3]:
import pandas as pd
import gme

In [4]:
df1 = pd.read_csv("Dados/Distanciamento/Distanciamento_Especificado.csv")
df2 = pd.read_csv("Dados/Exportações/Valor_Exportacao_Especificado.csv")
df3 = pd.read_csv("Dados/Tarifas/Tarifas_Especificadas.csv")
df4 = pd.read_csv("Dados/PIB Nominal/PIB_Nominal.csv")
    
df1.drop(columns={"Unnamed: 0"}, inplace=True)
    
df2.rename(columns={"Partner ISO": "Country Code"}, inplace=True)
df2.drop(columns={"Partner", "Commodity"}, inplace=True)
    
df3.drop(columns={ "Country Name"}, inplace=True)
df3.drop(columns={'Unnamed: 0'}, inplace = True)
df3.rename(columns={"Ano":"Year","Valores":"Tarifas"}, inplace=True)
    
df4.drop(columns={"Series Name", "Series Code", "Country Name"}, inplace=True)
df4 = df4.melt(id_vars="Country Code",
    var_name="Year",
    value_name="PIB_Nominal")
df4 = df4.dropna()
df4["Year"] = df4["Year"].apply(lambda x: str(x)[:-8])

df5 = pd.read_csv("Dados/Notificações/SPS_&_TBT.csv")

In [9]:
df = reduce(lambda  left,right: pd.merge(left,right,on=['DATE'],
                                            how='outer'), data_frames)

,Country Code,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces,Year,Commodity Code,Trade Value (US$),Valores
0,ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204,1996,6,6439,..
1,ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204,1996,2,654964,..
2,ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204,2000,2,669669,..
3,ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204,2000,5,6361,..
4,ABW,0,0,0,0,0,0,0,0,4759.608,3988.915,4431.571,4272.204,2001,2,1272272,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22880,ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487,2017,13,1521,..
22881,ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487,2017,12,9180,..
22882,ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487,2018,4,1637039,..
22883,ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487,2018,2,292095,..
22884,ZWE,0,0,0,0,0,0,0,0,8017.050,8348.187,7918.615,7883.487,2018,13,1003,..

In [13]:
df

array(['..', '7.86', '6.67', ..., '24.94', '10.7', '13.71'], dtype=object)

In [ ]:
df = df.loc[:,~df.columns.duplicated()]
df.set_index("Year", inplace=True)
df

In [10]:
df5 = pd.read_csv("Dados/Notificações/SPS_&_TBT.csv")
df5

ParserError: Error tokenizing data. C error: Expected 16 fields in line 12, saw 18