In [2]:
# Importar bibliotecas
import pandas as pd

In [2]:
# Transformar arquivos CSV em DataFrames e concatená-los
def concatenar():
    
    df9698 = pd.read_csv("Exportações/Exportacoes_desagregadas_1996-1998.csv")
    df9903 = pd.read_csv("Exportações/Exportacoes_desagregadas_1999-2003.csv")
    df0408 = pd.read_csv("Exportações/Exportacoes_desagregadas_2004-2008.csv")
    df0913 = pd.read_csv("Exportações/Exportacoes_desagregadas_2009-2013.csv")
    df1418 = pd.read_csv("Exportações/Exportacoes_desagregadas_2014-2018.csv")
    
    lista = [df9698, df9903, df0408, df0913, df1418]
    
    df = pd.concat(lista)
    df = df.set_index("Year")
    df = df.sort_index()
    
    return df

df = concatenar()
df

,Classification,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,Reporter ISO,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
Year,,,,,,,,,,,,,,,,,,,,,
1996,H0,1996,1996,2,0,2,Export,76,Brazil,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,63737128,NaN,NaN,0
1996,H0,1996,1996,2,0,2,Export,76,Brazil,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,4831,NaN,NaN,0
1996,H0,1996,1996,2,0,2,Export,76,Brazil,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,14002,NaN,NaN,0
1996,H0,1996,1996,2,0,2,Export,76,Brazil,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,443030,NaN,NaN,0
1996,H0,1996,1996,2,0,2,Export,76,Brazil,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,9782,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,H5,2018,2018,2,0,2,Export,76,Brazil,BRA,...,0.0,NaN,NaN,NaN,0.0,NaN,1937514,NaN,NaN,0
2018,H5,2018,2018,2,0,2,Export,76,Brazil,BRA,...,0.0,NaN,NaN,NaN,0.0,NaN,17052,NaN,NaN,0
2018,H5,2018,2018,2,0,2,Export,76,Brazil,BRA,...,0.0,NaN,NaN,NaN,0.0,NaN,1549,NaN,NaN,0
2018,H5,2018,2018,2,0,2,Export,76,Brazil,BRA,...,0.0,NaN,NaN,NaN,0.0,NaN,690,NaN,NaN,0
2018,H5,2018,2018,2,0,2,Export,76,Brazil,BRA,...,0.0,NaN,NaN,NaN,0.0,NaN,28394,NaN,NaN,4

In [4]:
def filtro(df):
    lista = ['Partner', 'Partner ISO', 
         'Commodity Code', 'Commodity',
         'Trade Value (US$)']
    df = df[lista]
    df = df[df["Commodity Code"] != 16]
    return df

df = filtro(df)
df

,Partner,Partner ISO,Commodity Code,Commodity,Trade Value (US$)
Year,,,,,
1996,Slovenia,SVN,9,"Coffee, tea, mate and spices",63737128
1996,"China, Hong Kong SAR",HKG,6,"Live trees, plants, bulbs, roots, cut flowers etc",4831
1996,Greece,GRC,6,"Live trees, plants, bulbs, roots, cut flowers etc",14002
1996,Germany,DEU,6,"Live trees, plants, bulbs, roots, cut flowers etc",443030
1996,France,FRA,6,"Live trees, plants, bulbs, roots, cut flowers etc",9782
...,...,...,...,...,...
2018,Guatemala,GTM,8,"Fruit and nuts, edible; peel of citrus fruit o...",1937514
2018,Guinea,GIN,8,"Fruit and nuts, edible; peel of citrus fruit o...",17052
2018,Guyana,GUY,8,"Fruit and nuts, edible; peel of citrus fruit o...",1549
2018,Cabo Verde,CPV,8,"Fruit and nuts, edible; peel of citrus fruit o...",690
2018,Panama,PAN,9,"Coffee, tea, mate and spices",28394

In [ ]:
df.to_csv("Exportações/Valor_Exportacao_Especificado.csv")

In [5]:
df = pd.read_csv("Exportações/Valor_Exportacao_Especificado.csv")

In [23]:
df

,Year,Partner,Partner ISO,Commodity Code,Commodity,Trade Value (US$)
0,1996,Slovenia,SVN,9,"Coffee, tea, mate and spices",63737128
1,1996,"China, Hong Kong SAR",HKG,6,"Live trees, plants, bulbs, roots, cut flowers etc",4831
2,1996,Greece,GRC,6,"Live trees, plants, bulbs, roots, cut flowers etc",14002
3,1996,Germany,DEU,6,"Live trees, plants, bulbs, roots, cut flowers etc",443030
4,1996,France,FRA,6,"Live trees, plants, bulbs, roots, cut flowers etc",9782
...,...,...,...,...,...,...
24222,2018,Guatemala,GTM,8,"Fruit and nuts, edible; peel of citrus fruit o...",1937514
24223,2018,Guinea,GIN,8,"Fruit and nuts, edible; peel of citrus fruit o...",17052
24224,2018,Guyana,GUY,8,"Fruit and nuts, edible; peel of citrus fruit o...",1549
24225,2018,Cabo Verde,CPV,8,"Fruit and nuts, edible; peel of citrus fruit o...",690
24226,2018,Panama,PAN,9,"Coffee, tea, mate and spices",28394

In [28]:
df.index = pd.MultiIndex.from_frame(df.iloc[:,[0,2]])

In [30]:
df = df.iloc[:,[3,5]]

In [78]:
df[df.iloc[:,1] == 0].count()

Commodity Code       0
Trade Value (US$)    0
dtype: int64

In [93]:
df2 = df

In [96]:
for i in range(0,15):
    if(df2["Commodity Code"][2000]["HKG"][i]):
        pass
    else:
        df2["Commodity Code"][2000]["HKG"][i] == i
        print(df2["Commodity Code"][2000]["HKG"][i])

IndexError: index out of bounds

In [99]:
df2["Commodity Code"][2000]["HKG"]

HKG     4
HKG     3
HKG    15
HKG     1
HKG     2
HKG     9
HKG    12
HKG    13
HKG     6
HKG     5
HKG     8
HKG     7
Name: Commodity Code, dtype: int64